/* Common styles for all devices */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    zoom: 0.8;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

header {
    background-color: #333; /* Dark background color for the header */
    color: #fff; /* Text color for the header */
    padding: 10px; /* Padding for the header content */
}

header .container {
    max-width: 1200px; /* Limit the width of the header content */
    margin: 0 auto; /* Center the header content */
    display: flex;
    justify-content: space-between; /* Align items in the header */
    align-items: center;
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    font-size: 20px; /* Adjust font size for the header */
}

header nav ul {
    list-style-type: none; /* Remove bullet points from the list */
    display: flex;
}

header nav ul li {
    margin-right: 10px; /* Add margin between navigation items */
}

header nav ul li a {
    color: #fff; /* Text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s ease; /* Smooth transition for link color */
}

header nav ul li a:hover {
    color: #ff6347; /* Change link color on hover */
}

/* Flexbox setup for form groups */

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Style for labels within form groups */

.form-group label {
    flex-basis: 30%;
    text-align: right;
    padding-right: 10px;
    color: #555;
    font-weight: bold;
}

/* Style for input fields within form groups */

.form-group input {
    flex-grow: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    width: 33%;
    font-size: 14px;
}

/* Style for the remove button */

.remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    padding: 4px 8px;
}

.remove-button:hover {
    background-color: #c82333;
}

/* Style for general buttons */

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #ffc954; /* Orange color */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6347; /* Darker shade of orange on hover */
}

/* Style for the result container */

#resultContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #5e5e5e; /* White background for the result container */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fefefe; /* Text color for the result container */
}

/* Media query for smaller screens */

@media only screen and (max-width: 600px) {
    .form-group label {
        font-size: 12px;
    }
    .form-group input {
        font-size: 12px;
    }
    .remove-button {
        font-size: 12px;
    }
    button {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    body {
        zoom: .9; /* Reset zoom level for smaller screens */
    }
}
